<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="org.kb141.mapper.FileMapper">
  
  <insert id="create" parameterType="FileVO">
  insert into TBL_FILE(bno,bfile) values (seq_bno.currval,#{bfile})
  </insert>
  
  <select id="read" resultType="FileVO">
		  select * from tbl_file where bno = #{bno}
	  </select>
  
  <update id="update" parameterType="FileVo">
 			 update tbl_file set bfile=#{bfile} where bno = #{bno}
  </update>
  
  <delete id="delete">
  		 delete from tbl_file where bno = #{bno} 
  </delete>
  
  
  </mapper>